{{#each model}}
  {{#link-to 'rounds.show' this tagName="div" class="col-lg-12 leaderboard-row"}}
    <div class="col-lg-2">
      <p class="leaderboard-score">{{score}}</p>
    </div>
    <div class="col-lg-7">
      <p class="leaderboard-content">{{scenerio_1}}</p>
    </div>
    <div class="col-lg-3">
      <p class="leaderboard-author">{{author}}</p>
    </div>
  {{/link-to}}
{{/each}}
